# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dist and Test dir
dist/
statik/
tmp/
Docker/twsnmpfc

#Mac OS
.DS_Store

fluentbit/in_twsnmp/*.h
fluentbit/out_twsnmp/*.h
fluentbit/fluentbit_builder.txt